body{
    background-color: black;
}
div{
    width: 300px;
    height: 410px;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 5px;
}
img{
    width: 250px;
}
h1{
    color: white;
}
p{
    color: white;
}
button{
    width: 270px;
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}